version: "3.9"
services:
  app:
    build: ./infra/php
    volumes:
      - ./src:/data

  # 餈質
  web:
    image: nginx:1.20-alpine
    ports:
      - 8080:80
    volumes:
      - ./src:/data
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /data
    # 餈質
  db:
    build: ./infra/mysql
    container_name: db
    restart: always
    platform: linux/amd64
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=laravel
      - MYSQL_USER=phper
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_HOST=%
      - TZ=Asia/Tokyo
    
    volumes:
      - db-store:/var/lib/mysql
      - db-store:/etc/mysql/conf.d/my.cnf:delegated

  phpmyadmin:
    
    image: phpmyadmin
    ports:
      - 8088:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=laravel
      - PMA_USER=phper
      - PMA_PASSWORD=secret
    depends_on:
      - db
     

volumes:
  db-store:
